* @aiuto @alexeagle

/.bazelci/	@meteorcloudy
/.bcr/		@meteorcloudy
/.github/	@meteorcloudy
/.pre-commit-config.yaml	@meteorcloudy

/deb_packages/  @aiuto
/docs/		@aiuto @alexeagle @jylinv0 @gregestren
/doc_build/	@aiuto @alexeagle @jylinv0

/pkg/rpm/		@nacl
/pkg/tests/rpm/		@nacl
/legacy/tests/rpm	@nacl
/toolchains/rpm		@nacl

/pkg/deb.bzl		@aiuto @dannysullivan @jylinv0
/pkg/private/deb/	@aiuto @dannysullivan @jylinv0
/pkg/tests/deb/		@aiuto @dannysullivan @jylinv0
