name: checks

on:
  push:
    branches:
      - "main"

  pull_request:
    branches:
      - "main"

  merge_group: {}

  workflow_call: {}

permissions:
  contents: read

jobs:
  checks:
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: "Bazel latest: @rules_pkg (Linux x64)"
            bazel_version: "rolling"
            filter: ""
            runner: "ubuntu-latest"

          - name: "Bazel 8.x: @rules_pkg (Linux x64)"
            bazel_version: "8.x"
            filter: ""
            runner: "ubuntu-latest"

          - name: "Bazel 7.x: @rules_pkg (Linux x64)"
            bazel_version: "7.x"
            filter: "-REQUIRES_BAZEL_8"
            runner: "ubuntu-latest"

    runs-on:
      - "${{ matrix.runner }}"

    steps:
      - uses: "actions/checkout@v6"

      - name: "Run (Bash)"
        working-directory: "${{ github.workspace }}"
        env:
          USE_BAZEL_VERSION: "${{ matrix.bazel_version }}"
          TEST_FILTER: "${{ matrix.filter }}"
        run: bash "${{ github.workspace }}/.github/workflows/checks.sh"

  status:
    runs-on:
      - "ubuntu-latest"

    needs:
      - "checks"
    if: always()

    steps:
      - name: "Report status"
        env:
          RESULT: "${{ needs.checks.result }}"
        run: |
          echo "Status: ${RESULT}"
          if [[ "${RESULT}" != "success" ]]; then
            exit 1
          fi
