name: "Push release to BCR"

on:
  workflow_dispatch:
    inputs:
      version:
        required: true
        type: "string"
  # DNS: remove before submit
  push:
    branches:
      - bcr

permissions:
  id-token: write
  attestations: write
  contents: write

jobs:
  publish:
    name: "Publish to BCR"

    permissions:
      attestations: write
      contents: write
      id-token: write

    uses: "bazel-contrib/publish-to-bcr/.github/workflows/publish.yaml@v1.1.0"
    with:
      # DNS: revert hacked version before submit
      # tag_name: "${{ inputs.version }}"
      tag_name: "1.2.0"
      tag_prefix: ""
      registry_fork: "bazel-contrib/bazel-central-registry"
      draft: false
    secrets:
      publish_token: "${{ secrets.BCR_PUBLISH_TOKEN }}"
